.ten-percent {
    width: 10%;
}
.twenty-percent {
    width: 20%;
}
.thirty-percent {
    display: block;
    width: 30%;
}
.fourty-percent {
    display: block;
    width: 40%;
}
.fifty-percent {
    width: 50%;
}
.full-width {
    display: flex;
    width: 100%;
}